.header{
    color: black ;
    text-align:center;
    background:#ffb200;
    border:5px black;
    border-style: solid;
    font-size:40px;
    font-family:cuprum;
    margin:0px;
}
body{
    background:#332400;
  background-size: cover;
  
    
}
.fucka{
    height: 30px;
}
.web{
    margin-left:2%;
    margin-right:2%;
}
h1{
    font-family:cuprum;
    color:white;
    text-align: justify;
    font-size:30px;
}
.button1{
    height: 100%;
    width: 100%;
    float: center;
    border: 2px;
    border-radius:5px;
    padding: 6px;
    Text-decortion: none;
    font-family: cuprum;
    font-size:15px;
    background:#ff8800;
    color:black;
}
.icon{
    height:40px;
    width: 40px;
}
.button2{
    border:1px;
    border-radius:5px;
    background: #00000;
    margin-right: 1px;
}
.button3{
    border:1px;
    border-radius:5px;
    background: #00000;
    margin-right: 5px;
    margin-left: 4px;
}
.all{
    height: 300px;
    width: 300px;
}
.v{
    width: 100%;
    height: 240px;
}
.thum{
    
    color:#ffdd80;
    font-size:20px;
    font-family:cuprum;
}
.d{
font-family: cuprum;
    font-size:15px;
    color:white;
}



/* styles.css */

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-top: 2px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border:2px #441f00;
    border-radius:5px;
    border-style: solid;
    margin-top: 2px;
}

#search-button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #441f00;
    border-radius:5px;
     margin-top: 2px;
}
:-webkit-scrollbar {
  width: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.footer a{
    display: block;
    font-size: 15px;
    margin-left: 50px;
    
}
.footer{
    background: #2e1900;
    font-family: cuprum;
    color:#be6600;
    width: 100%;
}
.button4{
    height: 100%;
    width: 100%;
    float: center;
    border: 2px;
    border-radius:5px;
    padding: 6px;
    Text-decortion: none;
    font-family: cuprum;
    font-size:15px;
    background:#ff8800;
 }
 .ad{
  margin-left: 70px;
 align: center;
 float: center;
 width: 100%;
}

.sub{
    background: #ff7300;
    color: white;
    display: block;
    width: 50%;
    height: 60px;
    border: 2px dashed white;
    border-radius:10px;
    font-size:20px;
    font-family: cuprum;
    align: center;
    float: center;
    margin-left: 78px;
}
a{
    font-family:cuprum;
    text-decoration: none;
}
